@import "common/sass/variables";

.sidebar {
  min-width: 250px;
  max-width: 250px;
  background-color: #2f3034;

  h4 {
    color: $brand-primary;
  }
}

.sidebar.active {
  margin-left: -250px;
}

@media (max-width: 768px) {
    .sidebar {
        margin-left: -250px;
    }
    .sidebar.active {
        margin-left: 0;
    }
}
